<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<meta http-equiv='cache-control' content='no-cache'>
	<meta http-equiv='expires' content='0'>
	<meta http-equiv='pragma' content='no-cache'>

	<link rel="icon" type="image/png" href="/static/favicon.png"/>
	<link rel="stylesheet" href="/static/styles.css">
	<title>Login</title>
</head>
<body>
	<nav class="navbar navbar-expand-sm bg-dark" style="padding: 25px;">
		<ul class="navbar-nav">

		</ul>
	</nav>
	
	<br>
	
	<div class="container" style="padding: 50px; " id="container">
 	
  		<div class="row">
   			<div class="col-sm-6"  id="example3">
	   			<h2 align="center" id="general" style="font-size: 35px;">{{titulo}}</h2>
	   			<br>
				<center>
					<input type="hidden" id="login" name="login" value="{{login}}">
					<form action="/usuarios/entrar/" method="POST" name="frmUsuariosLogin">{% csrf_token %}
						<div align="center" style="width: 80%;">
							<input type="text" class="form-control" name="user" id="user" placeholder="Nome de Usuário">
							<br>
							<input type="password" class="form-control" name="password" id="password" placeholder="Senha">
							<br>
							<button type="submit" class="btn btn-lg btn-info">Entrar</button>
						</div>
					</form>
					<br>
					<div class="alert alert-danger alert-dismissible" id="alert" style="display: none; width: 80%">
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						<strong>Acesso Negado!</strong> Usuário e/ou senha incorreto(s)
					</div>
				</center>
    		</div>
    
    		<div class="col-sm-6">
    			<img src="/static/logo.png" style="max-width: 103%; display: block;">
    			<br>
      			<p id="welcome"> Seja bem-vindo ao <b>PRAQUANDO</b>, o ChatBot para automatizar suas respostas! </p>
      			<p id="welcome">Configure seus próprios diálogos e integre seu ChatBot em seus materiais, sites e muito mais!</p>
    		</div>
  		</div>
	</div>


	<script>
		const login = document.getElementById('login');
		const alert = document.getElementById('alert');

		if(login.value>0)
			alert.style.display = "block";
		else alert.style.display = "none";
	</script>
</body>
</html>